<div class="container my-5" id="wishlist">
    <div class="row mb-5">
        <div class="col-md-12">
            <h4>My Wishlist<span class="text-secondary ml-2">(40 items)</span></h4>
        </div>
    </div>
    <div class="row">
            <div class="col-md-3 mb-3">
                <div class="card bg-light border-none">
                    <img src="../../../assets/dresses/dress1.jpg" alt="dress1" class="card-img-top">
                    <i class="material-icons cancel-icon text-secondary">cancel</i>
                    <div class="card-body">
                        <div class="card-title text-dark mb-0">Forever New</div>
                        <div class="card-text">
                            <p id="price" class="font-weight-bold">Rs. 4,650 <span class="original-price text-secondary mx-2">Rs. 6,200</span><span class="discount">25% off</span></p>
                            <hr>
                        </div>
                        <a class="stretched-link" href="#"></a>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="text-danger font-weight-bold">MOVE TO BAG</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card bg-light border-none">
                    <img src="../../../assets/dresses/dress2.jpg" alt="dress1" class="card-img-top">
                    <i class="material-icons cancel-icon text-secondary">cancel</i>
                    <div class="card-body">
                        <div class="card-title text-dark mb-0">Forever New</div>
                        <div class="card-text">
                            <p id="price" class="font-weight-bold">Rs. 4,650 <span class="original-price text-secondary mx-2">Rs. 6,200</span><span class="discount">25% off</span></p>
                            <hr>
                        </div>
                        <a class="stretched-link" href="#"></a>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="text-danger font-weight-bold">MOVE TO BAG</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card bg-light border-none">
                    <img src="../../../assets/dresses/dress3.jpg" alt="dress1" class="card-img-top">
                    <i class="material-icons cancel-icon text-secondary">cancel</i>
                    <div class="card-body">
                        <div class="card-title text-dark mb-0">Forever New</div>
                        <div class="card-text">
                            <p id="price" class="font-weight-bold">Rs. 4,650 <span class="original-price text-secondary mx-2">Rs. 6,200</span><span class="discount">25% off</span></p>
                            <hr>
                        </div>
                        <a class="stretched-link" href="#"></a>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="text-danger font-weight-bold">MOVE TO BAG</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card bg-light border-none">
                    <img src="../../../assets/dresses/dress4.jpg" alt="dress1" class="card-img-top">
                    <i class="material-icons cancel-icon text-secondary">cancel</i>
                    <div class="card-body">
                        <div class="card-title text-dark mb-0">Forever New</div>
                        <div class="card-text">
                            <p id="price" class="font-weight-bold">Rs. 4,650 <span class="original-price text-secondary mx-2">Rs. 6,200</span><span class="discount">25% off</span></p>
                            <hr>
                        </div>
                        <a class="stretched-link" href="#"></a>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="text-danger font-weight-bold">MOVE TO BAG</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card bg-light border-none">
                    <img src="../../../assets/dresses/dress5.jpg" alt="dress1" class="card-img-top">
                    <i class="material-icons cancel-icon text-secondary">cancel</i>
                    <div class="card-body">
                        <div class="card-title text-dark mb-0">Forever New</div>
                        <div class="card-text">
                            <p id="price" class="font-weight-bold">Rs. 4,650 <span class="original-price text-secondary mx-2">Rs. 6,200</span><span class="discount">25% off</span></p>
                            <hr>
                        </div>
                        <a class="stretched-link" href="#"></a>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="text-danger font-weight-bold">MOVE TO BAG</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card bg-light border-none">
                    <img src="../../../assets/dresses/dress6.jpg" alt="dress1" class="card-img-top">
                    <i class="material-icons cancel-icon text-secondary">cancel</i>
                    <div class="card-body">
                        <div class="card-title text-dark mb-0">Forever New</div>
                        <div class="card-text">
                            <p id="price" class="font-weight-bold">Rs. 4,650 <span class="original-price text-secondary mx-2">Rs. 6,200</span><span class="discount">25% off</span></p>
                            <hr>
                        </div>
                        <a class="stretched-link" href="#"></a>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="text-danger font-weight-bold">MOVE TO BAG</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card bg-light border-none">
                    <img src="../../../assets/dresses/dress7.jpg" alt="dress1" class="card-img-top">
                    <i class="material-icons cancel-icon text-secondary">cancel</i>
                    <div class="card-body">
                        <div class="card-title text-dark mb-0">Forever New</div>
                        <div class="card-text">
                            <p id="price" class="font-weight-bold">Rs. 4,650 <span class="original-price text-secondary mx-2">Rs. 6,200</span><span class="discount">25% off</span></p>
                            <hr>
                        </div>
                        <a class="stretched-link" href="#"></a>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="text-danger font-weight-bold">MOVE TO BAG</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card bg-light border-none">
                    <img src="../../../assets/dresses/dress8.jpg" alt="dress1" class="card-img-top">
                    <i class="material-icons cancel-icon text-secondary">cancel</i>
                    <div class="card-body">
                        <div class="card-title text-dark mb-0">Forever New</div>
                        <div class="card-text">
                            <p id="price" class="font-weight-bold">Rs. 4,650 <span class="original-price text-secondary mx-2">Rs. 6,200</span><span class="discount">25% off</span></p>
                            <hr>
                        </div>
                        <a class="stretched-link" href="#"></a>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="text-danger font-weight-bold">MOVE TO BAG</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
