<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            <i class='fab fa-angular fa-2x'></i>
        </a>
        <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav">
                <li class="nav-item mr-2 dropdown" *ngFor="let list of headerData;let i = index">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{list.category}}</a>
                    <div class="dropdown-menu">
                        <div class="d-flex">
                        <div *ngFor="let section of list.sections;let x = index">
                            <h5 class="dropdown-header">{{section.sectionTitle}}</h5>
                            <ng-container *ngFor="let subSection of section.subSections;let y = index">
                                <a href="#" class="dropdown-item">{{subSection.title}}</a>
                            </ng-container>
                        </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <form class="form-inline mr-3 d-none d-lg-block">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <input type="text" class="form-control" placeholder="Search for products,brands and more ...">
            </div>       
        </form>
        <ul class="navbar-nav align-items-baseline">
            <li class="nav-item mr-2 dropdown" *ngIf="showProfileIcon">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <i class='fas fa-user-alt text-center d-none d-md-block'></i>
                    <span class="small d-none d-md-block">Profile</span>
                </a>
                <div class="dropdown-menu" id="profile">
                    <ng-container *ngIf="!isLoggedIn">
                        <h5 class="dropdown-header">Welcome</h5>
                        <p class="dropdown-item disabled">To access accounts and manage orders</p>
                        <button class="btn btn-light border dropdown-item w-50 font-weight-bold" routerLink="/login" (click)="toggleProfileIcon()">LOGIN/SIGNUP</button>
                    </ng-container>
                    <div class="dropdown-divider"></div>
                    
                    <ng-container *ngFor="let item of profileHeaderData?.profileSection1">
                        <a href="#" class="dropdown-item" *ngIf="item != 'divider'">{{item}}<span class="badge badge-danger ml-2" *ngIf="item == 'Myntra Insider'">New</span></a>
                        <div class="dropdown-divider" *ngIf="item == 'divider'"></div>
                    </ng-container>
                    <ng-container *ngFor="let item of profileHeaderData?.profileSection2">
                        <a href="#" class="dropdown-item" *ngIf="item != 'divider'">{{item}}</a>
                        <div class="dropdown-divider" *ngIf="item == 'divider' && isLoggedIn"></div>
                    </ng-container>
                    <ng-container *ngFor="let item of profileHeaderData?.profileSection3">
                        <div *ngIf="isLoggedIn">
                            <a href="#" class="dropdown-item" *ngIf="item != 'divider'">{{item}}</a>
                            <div class="dropdown-divider" *ngIf="item == 'divider'"></div>
                        </div>
                    </ng-container>
                    
                </div>
            </li>
            <li class="nav-item mr-2">
                <a href="#" class="nav-link" routerLink="/wishlist">
                    <i class='fas fa-heart d-none d-md-block text-center'></i>
                    <span class="small d-none d-md-block">Wishlist</span>
                </a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link" routerLink="/cart">
                    <i class='fas fa-shopping-bag d-none d-md-block text-center'><span class="badge badge-light">0</span></i>
                    <span class="small d-none d-md-block">Bag</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
