<footer class="navbar navbar-dark bg-dark fixed-bottom flex-column flex-md-row">
        <div class="footer-items small">
           <i class="fab fa-dashcube mr-2"></i>GrabInc.
        </div>
        <div class="footer-items small">&copy; Copyright 2021 GrabInc. All Rights Reserved.</div>
        <div class="footer-items small"><a href="#">Support</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact Us</a></div>
</footer>
