<div class="container-fluid py-5" id="listing">
    <h3 class="text-center text-dark mb-4">ALL PRODUCTS<span class="text-secondary small total"> (6)</span></h3>    
    <div class="row">
        <div class="col-md-3">
            <app-filter-grid></app-filter-grid>
        </div>
        <div class="col-md-9">
            <app-product-list></app-product-list>
        </div>
    </div>
</div>