<div class="container my-5" id="cart">
    <div class="row">
        <div class="col-md-7">
            <div class="row border rounded px-3 d-flex justify-content-between cart-address mb-3">
                <div class="font-weight-light align-self-center">Deliver to: <span class="font-weight-bold">122002</span></div>
                <button class="btn btn-outline-danger btn-sm align-self-center">CHANGE ADDRESS</button>
            </div>
            <div class="d-flex justify-content-between mb-3 font-weight-bold">
                <div>My Shopping Bag (2 Items)</div>
                <div>Total:Rs.1,131</div>
            </div>
            <!-- list -->
            <div class="row border border rounded py-2 mb-2">
                    <div class="col-md-4">
                        <a href="#">
                            <img src="../../../assets/dresses/dress1.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-md-5">
                        <p class="font-weight-bold m-0">Kazo</p>
                        <p class="font-weight-light m-0">Kazo Ambrosia Susan Mini Dress</p>
                        <p class="text-secondary small mb-3">Sold By: KAZO Private Limited</p>
                        <a href="#" class="font-weight-bold text-dark bg-light px-2 py-1 underline-none rounded bg-same mr-3 small">Size:30 <i class="material-icons align-bottom">arrow_drop_down</i></a>
                        <a href="#" class="font-weight-bold text-dark bg-light px-2 py-1 underline-none rounded bg-same small">Qty:1 <i class="material-icons align-bottom">arrow_drop_down</i></a>
                        <p class="small mt-4"><i class="material-icons mr-2 check">check</i><span class="font-weight-light">Delivery by </span><span class="font-weight-bold">8 Jun 2021</span> </p>
                        <p class="small m-0"><i class="material-icons mr-2 check">check</i><span class="font-weight-light">Eligible for alteration</span></p>
                        <hr>
                        <a href="#" class="text-secondary mr-3 font-weight-bold underline-none small">REMOVE</a>
                        <span class="text-secondary font-weight-light">|</span>
                        <a href="#" class="text-secondary ml-3 font-weight-bold underline-none small">MOVE TO WISHLIST</a>
                    </div>
                    <div class="col-md-3 text-right">
                        <div class="mb-1 font-weight-bold mt-2">Rs.571</div>
                        <div><span class="original-price mr-2 text-secondary">Rs.1000 </span><span class="text-danger">46% Off</span></div>
                    </div>
            </div>
            <!-- list ends -->
            <div class="card row ">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div>
                            <i class="far fa-heart mr-2"></i><a href="#" class="text-dark font-weight-bold small">Add more from wishlist</a>
                        </div>
                        <div>
                            <i class="material-icons text-right">keyboard_arrow_right</i>
                        </div>
                    </div>
                    <a class="stretched-link" href="#"></a>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row mb-0 ml-5 col-md-9">
                <div class="row col-md-12 mb-3">
                    <h5 class="text-secondary font-weight-bold">COUPONS</h5>
                </div>
                <div class="row d-flex justify-content-between col-md-12">
                    <div>
                        <p class="small font-weight-bold op-8"><i class="fas fa-tag mr-4 align-middle"></i>Apply Coupons</p>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger btn-sm">Apply</button>
                    </div>
                </div>
                <hr class="w-100 mb-4">
                <div class="row col-md-12 mb-3">
                    <h5 class="text-secondary font-weight-bold">Price Details</h5>
                </div>
                <div class="row d-flex justify-content-between col-md-12 mb-2">
                    <div>Total MRP</div>
                    <div>Rs. 8,000</div>
                </div>
                <div class="row d-flex justify-content-between col-md-12 mb-2">
                    <div>Discount on MRP</div>
                    <div class="price-discount">-Rs.3,000</div>
                </div>
                <div class="row d-flex justify-content-between col-md-12 mb-2">
                    <div>Coupon Discount</div>
                    <div><a href="#" class="text-danger small">Apply Coupon</a></div>
                </div>
                <hr class="w-100 mb-3">
                <div class="row d-flex justify-content-between col-md-12 mb-4">
                    <div class="text-secondary font-weight-bold">Total Amount</div>
                    <div>Rs.5,000</div>
                </div>
                <button class="btn btn-danger w-100">Place Order</button>
            </div>
        </div>
    </div>
</div>
