<div class="container-fluid" id="product-list">
        <!-- list of cards -->
        <div class="row">
            <div class="col-md-4 col-12 mb-2">
                <div class="card bg-light">
                <img src="../../../assets/dresses/dress1.jpg" alt="dress1" class="card-img-top">
                <div class="card-body">
                    <div class="card-title text-dark mb-0">Forever New</div>
                    <div class="card-text">
                        <p id="description" class="text-secondary">Saffron Printed Mini Sun Dress</p>
                        <p id="price">Rs. 4,650 <span class="original-price text-secondary mx-2">Rs. 6,200</span><span class="discount">25% off</span></p>
                        <p id="size" class="text-secondary mt-1">XS,S,M,L,XL</p>
                    </div>
                    <a class="stretched-link" href="#" routerLink="/product"></a>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light">
                <img src="../../../assets/dresses/dress2.jpg" alt="dress1" class="card-img-top">
                <div class="card-body">
                    <div class="card-title text-dark mb-0">Forever New</div>
                    <div class="card-text">
                        <p id="description" class="text-secondary">Saffron Printed Mini Sun Dress</p>
                        <p id="price">Rs. 4,650 <span class="original-price text-secondary mx-2">Rs. 6,200</span><span class="discount">25% off</span></p>
                        <p id="size" class="text-secondary mt-1">XS,S,M,L,XL</p>
                    </div>
                    <a class="stretched-link" href="#"></a>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light">
                <img src="../../../assets/dresses/dress3.jpg" alt="dress1" class="card-img-top">
                <div class="card-body">
                    <div class="card-title text-dark mb-0">Forever New</div>
                    <div class="card-text">
                        <p id="description" class="text-secondary">Saffron Printed Mini Sun Dress</p>
                        <p id="price">Rs. 4,650 <span class="original-price text-secondary mx-2">Rs. 6,200</span><span class="discount">25% off</span></p>
                        <p id="size" class="text-secondary mt-1">XS,S,M,L,XL</p>
                    </div>
                    <a class="stretched-link" href="#"></a>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light">
                <img src="../../../assets/dresses/dress4.jpg" alt="dress1" class="card-img-top">
                <div class="card-body">
                    <div class="card-title text-dark mb-0">Forever New</div>
                    <div class="card-text">
                        <p id="description" class="text-secondary">Saffron Printed Mini Sun Dress</p>
                        <p id="price">Rs. 4,650 <span class="original-price text-secondary mx-2">Rs. 6,200</span><span class="discount">25% off</span></p>
                        <p id="size" class="text-secondary mt-1">XS,S,M,L,XL</p>
                    </div>
                    <a class="stretched-link" href="#"></a>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light">
                <img src="../../../assets/dresses/dress5.jpg" alt="dress1" class="card-img-top">
                <div class="card-body">
                    <div class="card-title text-dark mb-0">Forever New</div>
                    <div class="card-text">
                        <p id="description" class="text-secondary">Saffron Printed Mini Sun Dress</p>
                        <p id="price">Rs. 4,650 <span class="original-price text-secondary mx-2">Rs. 6,200</span><span class="discount">25% off</span></p>
                        <p id="size" class="text-secondary mt-1">XS,S,M,L,XL</p>
                    </div>
                    <a class="stretched-link" href="#"></a>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light">
                <img src="../../../assets/dresses/dress6.jpg" alt="dress1" class="card-img-top">
                <div class="card-body">
                    <div class="card-title text-dark mb-0">Forever New</div>
                    <div class="card-text">
                        <p id="description" class="text-secondary">Saffron Printed Mini Sun Dress</p>
                        <p id="price">Rs. 4,650 <span class="original-price text-secondary mx-2">Rs. 6,200</span><span class="discount">25% off</span></p>
                        <p id="size" class="text-secondary mt-1">XS,S,M,L,XL</p>
                    </div>
                    <a class="stretched-link" href="#"></a>
                </div>
            </div>
        </div>
    </div>
</div>
