<div class="container-fluid" id="filter-grid">
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <form>
            <div class="row d-flex justify-content-between mb-2">
                <h5 class="text-dark">Filters</h5>
                <a href="#" class="text-danger"><h5>RESET</h5></a>
            </div>
            <!-- Type -->
            <div class="row border p-2 mb-2">
                <div class="font-weight-bold mb-3">Type</div>
                <!-- type list -->
                <div class="row d-flex justify-content-between w-100 mb-3">
                    <div class="ml-4 filter-item">Mini <span id="count" class="text-secondary small">2</span></div>
                    <div class="align-self-right checkbox">
                        <input type="checkbox" role="checkbox">
                    </div>
                </div>
                <div class="row d-flex justify-content-between w-100 mb-3">
                    <div class="ml-4 filter-item">Midi <span id="count" class="text-secondary small">15</span></div>
                    <div class="align-self-right checkbox">
                        <input type="checkbox" role="checkbox">
                    </div>
                </div>
                <div class="row d-flex justify-content-between w-100 mb-3">
                    <div class="ml-4 filter-item">Knee Length <span id="count" class="text-secondary small">102</span></div>
                    <div class="align-self-right checkbox">
                        <input type="checkbox" role="checkbox">
                    </div>
                </div>
                <div class="row d-flex justify-content-between w-100 mb-3">
                    <div class="ml-4 filter-item">Maxi <span id="count" class="text-secondary small">55</span></div>
                    <div class="align-self-right checkbox">
                        <input type="checkbox" role="checkbox">
                    </div>
                </div>
                <div class="row d-flex justify-content-between w-100 mb-3">
                    <div class="ml-4 filter-item">Gown <span id="count" class="text-secondary small">100</span></div>
                    <div class="align-self-right checkbox">
                        <input type="checkbox" role="checkbox">
                    </div>
                </div>
            </div>
            <!-- Brand -->
            <div class="row border p-2 mb-2">
                <div class="font-weight-bold mb-3">Brand</div>
                <!-- search bar -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-search text-secondary"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control" placeholder="Search Brand">
                </div> 
                <!-- type list -->
                <div class="brand-wrapper row pl-3">
                    <div class="row d-flex justify-content-between w-100 mb-3">
                        <div class="ml-4 filter-item">Forever 21 <span id="count" class="text-secondary small">100</span></div>
                        <div class="align-self-right checkbox">
                            <input type="checkbox" role="checkbox">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between w-100 mb-3">
                        <div class="ml-4 filter-item">Bebe <span id="count" class="text-secondary small">15</span></div>
                        <div class="align-self-right checkbox">
                            <input type="checkbox" role="checkbox">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between w-100 mb-3">
                        <div class="ml-4 filter-item">Miss Chase <span id="count" class="text-secondary small">102</span></div>
                        <div class="align-self-right checkbox">
                            <input type="checkbox" role="checkbox">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between w-100 mb-3">
                        <div class="ml-4 filter-item">Kazo <span id="count" class="text-secondary small">55</span></div>
                        <div class="align-self-right checkbox">
                            <input type="checkbox" role="checkbox">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between w-100 mb-3">
                        <div class="ml-4 filter-item">Forever New <span id="count" class="text-secondary small">100</span></div>
                        <div class="align-self-right checkbox">
                            <input type="checkbox" role="checkbox">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between w-100 mb-3">
                        <div class="ml-4 filter-item">GAP <span id="count" class="text-secondary small">120</span></div>
                        <div class="align-self-right checkbox">
                            <input type="checkbox" role="checkbox">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Size -->
            <div class="row border p-2 mb-2">
                <div class="font-weight-bold mb-3">Size</div>
                <!-- search bar -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-search text-secondary"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control" placeholder="Search Size">
                </div> 
                <!-- type list -->
                <div class="brand-wrapper row pl-3">
                    <div class="row d-flex justify-content-between w-100 mb-3">
                        <div class="ml-4 filter-item">XXS <span id="count" class="text-secondary small">100</span></div>
                        <div class="align-self-right checkbox">
                            <input type="checkbox" role="checkbox">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between w-100 mb-3">
                        <div class="ml-4 filter-item">XS <span id="count" class="text-secondary small">15</span></div>
                        <div class="align-self-right checkbox">
                            <input type="checkbox" role="checkbox">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between w-100 mb-3">
                        <div class="ml-4 filter-item">S <span id="count" class="text-secondary small">102</span></div>
                        <div class="align-self-right checkbox">
                            <input type="checkbox" role="checkbox">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between w-100 mb-3">
                        <div class="ml-4 filter-item">M <span id="count" class="text-secondary small">55</span></div>
                        <div class="align-self-right checkbox">
                            <input type="checkbox" role="checkbox">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between w-100 mb-3">
                        <div class="ml-4 filter-item">L <span id="count" class="text-secondary small">100</span></div>
                        <div class="align-self-right checkbox">
                            <input type="checkbox" role="checkbox">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between w-100 mb-3">
                        <div class="ml-4 filter-item">XL <span id="count" class="text-secondary small">120</span></div>
                        <div class="align-self-right checkbox">
                            <input type="checkbox" role="checkbox">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Color -->
            <div class="row border p-2 mb-2">
                <div class="font-weight-bold mb-3">Color</div>
                <!-- search bar -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-search text-secondary"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control" placeholder="Search Color">
                </div> 
                <!-- type list -->
                <div class="brand-wrapper row pl-3">
                    <div class="row d-flex justify-content-between w-100 mb-3">
                        <div class="ml-4 filter-item"><i class="fas fa-circle mr-2 circle" style="color:black"></i>Black <span id="count" class="text-secondary small">100</span></div>
                        <div class="align-self-right checkbox">
                            <input type="checkbox" role="checkbox">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between w-100 mb-3">
                        <div class="ml-4 filter-item"><i class="fas fa-circle mr-2 circle" style="color:yellow"></i>Yellow <span id="count" class="text-secondary small">15</span></div>
                        <div class="align-self-right checkbox">
                            <input type="checkbox" role="checkbox">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between w-100 mb-3">
                        <div class="ml-4 filter-item"><i class="fas fa-circle mr-2 circle" style="color:darkblue"></i>Blue <span id="count" class="text-secondary small">102</span></div>
                        <div class="align-self-right checkbox">
                            <input type="checkbox" role="checkbox">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between w-100 mb-3">
                        <div class="ml-4 filter-item"><i class="fas fa-circle mr-2 circle" style="color:red"></i>Red <span id="count" class="text-secondary small">55</span></div>
                        <div class="align-self-right checkbox">
                            <input type="checkbox" role="checkbox">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between w-100 mb-3">
                        <div class="ml-4 filter-item"><i class="fas fa-circle mr-2 circle" style="color:pink"></i>Pink <span id="count" class="text-secondary small">100</span></div>
                        <div class="align-self-right checkbox">
                            <input type="checkbox" role="checkbox">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between w-100 mb-3">
                        <div class="ml-4 filter-item"><i class="fas fa-circle mr-2 circle" style="color:green"></i>Green <span id="count" class="text-secondary small">120</span></div>
                        <div class="align-self-right checkbox">
                            <input type="checkbox" role="checkbox">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>  
</div>
