<div id="login" class="container-fluid">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-6">
            <form class="p-4 border border-light-grey" [formGroup]="loginForm">
                <div id="login-form">
                    <h2 class="text-center mb-3 text-danger">Log In to GrabInc.</h2>
                    <input type="text" class="form-control mb-2" placeholder="Email address" formControlName="email">
                    <input type="password" class="form-control mb-2" placeholder="Password" formControlName="password">
                    <button class="btn btn-success w-100 mb-2" (click)="login()">Log In</button>
                    <div class="d-flex justify-content-center mb-3">
                        <a href="javascript:void()" class="mr-4" routerLink="../resetPassword">Forgotten account?</a><a href="javascript:void()" routerLink="../signup">Sign up for GrabInc.</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
