<div id="resetPass" class="container-fluid">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-6">
            <form class="p-4 border border-light-grey">
                <div id="forgot-account-form">
                    <h2 class="mb-3">Find Your Account</h2>
                    <hr>
                    <p>Please enter your email address to search for your account.</p>
                    <input type="text" class="form-control mb-2" placeholder="Email address">
                    <hr>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-secondary mb-2 mr-2">Cancel</button>
                        <button class="btn btn-success mb-2">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
