<div class="container-fluid" id="deal-list">
    <div class="card-deck mb-5">
        <!-- list of cards -->
        <div class="card bg-light">
            <img src="../../../assets/deals/men_women.jpg" alt="both" class="card-img-top">
            <div class="card-body">
                <div class="card-title text-dark"><h2>Buy 1 at Rs.799,<br> 2 at Rs.1499</h2></div>
                <a class="stretched-link" (click)="goToProducts()"></a>
            </div>
        </div>
        <div class="card bg-light">
            <img src="../../../assets/deals/woman.jpg" alt="both" class="card-img-top">
            <div class="card-body">
                <div class="card-title text-dark"><h2>Min. 50% off on western wear</h2></div>
                <a href="#" class="stretched-link"></a>
            </div>
        </div>
        <div class="card bg-light">
            <img src="../../../assets/deals/kids.jpg" alt="both" class="card-img-top">
            <div class="card-body">
                <div class="card-title text-dark"><h2>Min 30% off + Extra 10% off</h2></div>
                <a href="#" class="stretched-link"></a>
            </div>
        </div>
        <div class="card bg-light">
            <img src="../../../assets/deals/footwear.jpg" alt="both" class="card-img-top">
            <div class="card-body">
                <div class="card-title text-dark"><h2>Upto 45% off on footwear</h2></div>
                <a href="#" class="stretched-link"></a>
            </div>
        </div>
    </div>
</div>
