<div id="signUp" class="container-fluid">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-6">
                <form class="p-4 border border-light-grey" [formGroup]="signUpForm"> 
                    <div id="signup-form">
                        <h2 class="text-center font-weight-bold text-danger">Create a new Account</h2>
                        <p class="text-center text-secondary">It's quick and easy.</p>
                        <div class="row mb-2">
                            <div class="col-md-12 d-flex justify-content-center">
                                <a href="javascript:void()" class="text-primary font-weight-bold" routerLink="../login">Already have an account?</a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="Firstname" class="form-control mb-2" formControlName="firstname">
                                <div class="invalid-feedback">What's your name?</div>
                                <!-- <div class="valid-feedback"></div> -->
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Lastname" class="form-control mb-2" formControlName="lastname">
                                <div class="invalid-feedback">What's your name?</div>
                                <!-- <div class="valid-feedback"></div> -->
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Email address" formControlName="email">
                                <div class="invalid-feedback">You'll use this when you login and if you ever need to reset your password.</div>
                                <!-- <div class="valid-feedback"></div> -->
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <input type="password" class="form-control" placeholder="New password" formControlName="password">
                                <div class="invalid-feedback">Enter a combination of atleast 6 letters,numbers and punctuation marks(such as ! and &).</div>
                                <!-- <div class="valid-feedback"></div> -->
                            </div>
                        </div>   
                        <!-- <div class="row mb-2">
                            <div class="col-md-12">
                                <label>Date of Birth<span class="fas fa-info-circle ml-1 icon" data-toggle="tooltip" title="Providing your date of birth helps make sure that you get the right GrabInc. experience for your age. If you want to change who sees this, go to the About section of your Profile." data-placement="right"></span></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 form-group mb-2">
                                <select id="date" class="form-control">
                                    <option>date</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                            <div class="col-md-4 form-group mb-2">
                                <select id="month" class="form-control">
                                    <option>month</option>
                                    <option>Jan</option>
                                    <option>Feb</option>
                                    <option>Mar</option>
                                    <option>Apr</option>
                                </select>
                            </div>
                            <div class="col-md-4 form-group mb-2">
                                <select id="year" class="form-control">
                                    <option>year</option>
                                    <option>2021</option>
                                    <option>2020</option>
                                    <option>2019</option>
                                    <option>2018</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <label>Gender<span class="fas fa-info-circle ml-1 icon" data-toggle="tooltip" title="You can change who sees your gender on your profile later. Select Custom to choose another gender, or if you'd rather not say." data-placement="right"></span></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mb-2">
                                <div class="form-control d-flex justify-content-between">
                                    <div class="text-secondary">Female</div>
                                    <div><input type="radio"></div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-2">
                                <div class="form-control d-flex justify-content-between">
                                    <div class="text-secondary">Male</div>
                                    <div><input type="radio"></div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-2">
                                <div class="form-control d-flex justify-content-between">
                                    <div class="text-secondary">Others</div>
                                    <div><input type="radio"></div>
                                </div>
                            </div>
                        </div> -->
                        <div class="row mb-3">
                            <div class="col-md-12 policy">By clicking Sign Up, you agree to our <a href="#">Terms</a>,<a href="#"> Data Policy</a>and<a href="#"> Cookie Policy</a>. You may receive SMS notifications from us and can opt out at any time.</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-12 d-flex justify-content-center">
                                <button class="btn btn-success signup font-weight-bold" (click)="signup()">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </form>
        </div>
    </div>
</div>
