<div class="container-fluid my-5" id="#product-item">
    <div class="row">
        <div class="col-md-6">
            <img src="../../../assets/dresses/dress1.jpg" alt="dress1" class="img-fluid mb-4">
            <!-- <h5 class="mb-4">What Customers Said (39) <i class="far fa-star ml-1 small"></i></h5>
            <div>
                <p>I honestly love the colour and the design of this dress. The material is soft and is comfortable to be in. Gave a great look. Thanks myntra. </p>
            </div> -->
        </div>
        <div class="col-md-6">
            <a href="#" id="title" class="underline-none"><h4 class="text-dark">Kazo</h4></a>
            <h4>Kazo Ambrosia Susan Mini Dress</h4>
            <div class="border d-flex justify-content-between px-3 pb-2 pt-1 align-items-baseline" id="comment-count">
               <i class="far fa-comment-dots text-secondary"></i>
                <label class="text-secondary">39 Reviews</label>
            </div>
            <hr>
            <div class="mb-2">
                <div class="font-weight-bold rupee-title d-inline mr-3">Rs.1,000
                    <div class="text-secondary mr-2 ml-2 d-inline font-weight-lighter">
                        Rs.2,000
                    </div>
                    <span class="ml-2 discount">(50% off)</span>
                </div>
            </div>
            <div class="inclusive small mb-4">inclusive of all taxes</div>
            <p class="font-weight-bold mb-3">SELECT SIZE 
                <a class="ml-5 text-danger size-chart underline-none" href="#">SIZE CHART 
                    <i class="material-icons arrow-right-icon">keyboard_arrow_right</i>
                </a>
            </p>
            <!-- list of size buttons -->
            <div class="mb-4">
                <button class="btn size-buttons active">S</button>
                <button class="btn size-buttons">M</button>
                <button class="btn size-buttons">L</button>
                <button class="btn size-buttons">XL</button>
                <button class="btn size-buttons">XXL</button>
            </div>
            <div>
                <button class="btn btn-lg btn-danger mr-3 add-to-bag"><i class='fas fa-shopping-bag mr-2'></i>ADD TO BAG</button>
                <button class="btn btn-lg btn-outline-secondary"><i class="far fa-heart mr-2"></i>WISHLIST</button>
            </div>
            <hr>
            <div class="mt-2">
                <h5 class="mb-3">Delivery Details</h5>
                <input type="text" placeholder="Enter Pincode" class="pincode mr-5 mb-3">
                <a href="#" class="text-danger font-weight-bold underline-none">Check</a>
                <p class="text-secondary"><i class="fas fa-truck mr-2"></i>Usually delivered in 6 days</p>
            </div>
            <hr>
            <!-- product-details -->
            <div class="mt-2">
                <h5 class="mb-4">Product Information</h5>
                <h6 class="font-weight-light mb-2">Description</h6>
                <p class="text-secondary mb-4">Make heads turn as you flaunt this dress from Kazo. Pair it with statement earrings, heels and a sling bag to nail the look.</p>
                <div class="d-flex justify-content-between">
                    <div class="d-inline-block product-details mr-4">
                            <h6 class="font-weight-light mb-2">Product Details</h6>
                            <div class="d-flex justify-content-between">
                                <div class="type-fit">Material</div>
                                <div class="text-secondary type-fit">Polyester</div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="type-fit">Type</div>
                                <div class="text-secondary type-fit">Mini</div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="type-fit">Occasion</div>
                                <div class="text-secondary type-fit">Casual</div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="type-fit">Pattern</div>
                                <div class="text-secondary type-fit">Solid/Plain</div>
                            </div>
                    </div>
                    <div class="d-inline-block product-details">
                        <h6 class="font-weight-light mb-2">Size & Fit</h6>
                        <div class="d-flex justify-content-between">
                            <div class="type-fit">Fit</div>
                            <div class="text-secondary type-fit">Flared</div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="type-fit">Neckline Type</div>
                            <div class="text-secondary type-fit">Halter Neck</div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="type-fit">Sleeve Type</div>
                            <div class="text-secondary type-fit">Flare Sleeves</div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="type-fit">Apparel Closure Type</div>
                            <div class="text-secondary type-fit">Tie-Ups</div>
                        </div>
                    </div>
                </div>
                <h6 class="font-weight-light mb-2">Care Instructions</h6>
                <p class="text-secondary mb-4">Machine Wash</p>
                <h6 class="font-weight-light mb-2">Pack Contains</h6>
                <p class="text-secondary mb-4">1 Dress</p>

                <h6 class="font-weight-light mb-2">Name Of Manufacturer/ Packer/ Importer</h6>
                <p class="text-secondary mb-4">Bl International</p>
                <h6 class="font-weight-light mb-2">Address Of Manufacturer/ Packer/ Importer</h6>
                <p class="text-secondary mb-4">A-14, Hoseiry Complex, Phase-2, Noida</p>
                <h6 class="font-weight-light mb-2">Return And Exchange Policy</h6>
                <p class="text-secondary mb-4">This product is eligible for returns or replacement. Please initiate returns or replacements from the 'My Orders' section in the App within 7 days of delivery. Kindly ensure the product is in its original condition with all tags attached.</p>
                
            </div>
        </div>
    </div>
</div>
