/* You can add global styles to this file, and also import other style files */
body{
    min-height: 100%;
    padding:74px 0 52px 0 !important;
}

i{
    font-size: 1.2rem;
}
.op-8{
    opacity: 0.8;
}
.dropdown-menu{
    top:53px;
    width: max-content;
    display: none;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
/* to remove the carret icon */
.dropdown-toggle::after{
    content:none;
}
footer.navbar{
    height:4.2rem;
    padding:2px 25px;
}
.footer-items{
    color:rgba(255,255,255,.5);
}
.footer-items a,.footer-items a:active{
    color:rgba(255,255,255,.5);
}
.footer-items a:hover{
    color:black;
}
.carousel{
    width:100%;
    height:350px;
}
.carousel-inner img{
    width:100%;
    height:350px;
}
#profile{
    left:-10rem;
    top:58px;
}
p.dropdown-item{
    color:black !important;
}
button.dropdown-item{
    margin-left:1.7rem;
    color: #dc3545;
    border-color: #dc3545;
}
button.dropdown-item:hover{
    color: #dc3545;
    border-color: #dc3545;
}
#login,#signUp,#resetPass{
    background-image: url(./assets/sarah-dorweiler-x2Tmfd1-SgA-unsplash.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:900px;
}
#login form,#signUp form,#resetPass form{
    background-color:white;
    box-shadow:0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin-top:5rem;
    margin-bottom:5rem;
    height:max-content;
    border-radius: 5px;
}
.icon{
    font-size:0.8rem;
    color:grey;
}
.tooltip-inner{
    background-color: grey;
}
.tooltip .arrow::before{
    border-top-color:grey;
}
.policy{
    color:#777;
    font-size:11px;
    font-weight:bold;
}
button.signup{
    width:400px;
}
#deal-list .card{
    box-shadow:0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    width:300px;
    height:auto;
}
#deal-list .card:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.nav-link .badge{
    vertical-align: super;
    margin-left: -0.3rem;
    color:white;
    background-color: #dc3545;
}

#listing{
    background-color: #f8f8f8;
}
#listing h3{
    font-family: Georgia,"Times New Roman",Times,serif;
    vertical-align: center;
}
#product-list .card{
    border:none;
}
#product-list .card:hover{
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 50px;
}
#product-list .card-text p{
    margin-bottom: 0;
    font-size: 0.8rem;
}
.discount{
    color:#1e7e34;
    font-weight: bold;
    font-size:0.8rem;
}
.original-price{
    text-decoration: line-through;
    opacity:0.8;
}
.total{
    vertical-align: text-top;
}
#filter-grid a:hover{
    text-decoration-line: none;
}
.horizontal{
    width:90%;
    height:0.1rem;
    background-color:black;
    /* margin: 50% 0.5rem; */
}
#filter-item{
    color:rgb(51,51,51);
}
.checkbox input[type=checkbox]{
    width:1.2rem;
    height:1.2rem;
}
.checkbox input[type=checkbox]:checked{
    background: #343a40!important;
    color:white;
}
.brand-wrapper{
    height:200px;
    overflow-y: scroll;
    margin-right:0.01rem;
}
.input-group-text{
    background-color:white;
}
.input-group-prepend~.form-control{
    border-left:none;
}
.circle{
    font-size:0.8rem;
}
.cancel-icon{
    position: absolute;
    right: 0.2rem;
    top: 0.3rem;
}
/* product page */
#title{
    font-family: Whitney;
}
.underline-none:hover{
    text-decoration: none;
}
#comment-count{
    width:25%;
    height:2.1rem;
    border-radius:0.2rem;
}
#comment-count label{
    font-size:1.1rem;
}
#title~h4{
    color:#535665;
    opacity:0.8;
    font-family: Whitney;
}
.rupee-title{
    font-size:1.5rem;
}
.rupee-title .discount{
    font-size:1.2rem;
}
.rupee-title div{
    text-decoration: line-through;
}
.inclusive{
    color:#03a685;
    font-weight:bold;
}
.size-chart{
    font-size:0.9rem;
}
.arrow-right-icon{
    font-size:130%;
    vertical-align: middle;
}
.size-buttons{
    margin-right:1rem;
    width:3rem;
    height:3rem;
    border:1px solid rgb(51,51,51);
    border-radius:50%;
}
.size-buttons:hover,.size-buttons.active{
    border-color: #b21f2d;
    color:#b21f2d;
}
.add-to-bag{
    width:40%;
}
.add-to-bag~button{
    width:35%;
}
.pincode,.pincode:focus-visible{
    border-bottom:1px solid rgb(51,51,51);
    border-top:none;
    border-left:none;
    border-right:none;
    outline:none;
}
.product-details,.type-fit{
    width:40%;
}
/* cart */
#cart{
    min-height: 500px;
}
#cart h5{
    font-size:95%;
}
.cart-address{
    height: 4rem;
}
.cart-address button{
    height:min-content;
}
a.bg-same:hover,a.bg-same:focus{
    background-color: #f8f9fa!important;
}
.check{
    vertical-align:bottom;
    font-size:1.2rem;
    color:#03a685;
    font-weight: bold;
}
.price-discount{
    color:#03a685;
}
