<app-carousel></app-carousel>
<img class="img-fluid w-100" src="../../assets/banner.jpg" alt="banner">
<img class="img-fluid w-100" src="../../assets/banner1.jpg" alt="banner1">
<img src="../../assets/knockout-Deal-Carousel.gif" alt="knockout-Deal-Carousel" class="img-fluid w-100 mb-3">
<app-deal-list></app-deal-list>
