            <div class="carousel slide" data-ride="carousel" id="slider">               
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../../assets/offer.jpg" alt="Offer">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/offer2.jpg" alt="Offer1">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/offer1.jpg" alt="Offer2">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#slider" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#slider" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        